%h1= @user.first_name

%p
role:
= @user.role
%br

%p
first name:
= @user.first_name
%br

%p
last name:
= @user.last_name
%br

%p
dob:
= @user.dob
%br

%p
email:
= @user.email
%br

%p
image:
= @user.image
%br

%p
phone:
= @user.phone
%br



%p
- if can? :update, @user
  = link_to "Add a User", new_user_path
  \|
- if can? :update, @user
  = link_to "Edit User", edit_user_path(@user)
  \|
- if can? :update, @user
  = link_to "Update a User", user_path(@user)
  \|
- if can? :destroy, @user
  = link_to "Destroy a User", new_user_path
  \|
- if can? :create, User
  = link_to "Create a User", new_user_path
  \|
  = link_to "Show User", user_path
  \|
- if can? :destroy, @user
  = link_to "Remove User", @user, :confirm => 'Are you sure?', :method => :delete


